server:
  port: 8081

spring:
  application:
    name: xsware-client-portal
  profiles:
    active: dev
  # upload size
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB

logging:
  config: classpath:logback-spring-${spring.application.profiles.active:dev}.xml

# Metrics
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when_authorized
  metrics:
    tags:
      application: ${spring.application.name:xsware-client-portal}


# Swagger
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha

# Custom config
app:
  storage:
    provider: local
    avatar:
      max-bytes: 2000000
      allowed-content-types:
        - image/png
        - image/jpeg
        - image/webp