server:
  port: 8081

spring:
  application:
    name: xsware-client-portal
  profiles:
    active: dev

# Metrics
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when_authorized

# Swagger
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha


# Logging
logging:
  level:
    org.springframework: INFO
    org.springframework.security: INFO
    org.springframework.security.core: INFO
    org.springframework.security.authentication: INFO
    reactor.netty.http.client: WARN
    org.springframework.web.reactive.function.client.ExchangeFunctions: WARN
    org.springframework.web.reactive.function.client.WebClient: WARN