# JPA + Hibernate
spring:

  config:
    import: optional:file:.env[.properties]

  # PostgresSQL
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

    hikari:
      pool-name: OrdersHikariPool
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000
      validation-timeout: 5000
      leak-detection-threshold: 20000

  # JPA
  jpa:
    hibernate:
      ddl-auto: validate
      format_sql: false
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        highlight_sql: false
        use_sql_comments: false
        jdbc:
          time_zone: UTC

  # Flyway
  flyway:
    enabled: true
    clean-disabled: true
    locations: classpath:db/migration